.hide-field{
	display: none;
}
a.toggle-fields {float: right; margin: 0 20px 0 0; background-color: #81B934; border-radius: 1em 1em 1em 1em; color: #FFFFFF; cursor: pointer; display: inline-block; font: 10px/11px Lucida Grande,Leelawadee,Tahoma,Verdana,sans-serif; padding: 0.3em 1em; text-decoration: none; text-shadow: none;}
a.toggle-fields:hover {background: #222;color: #fff;}